<div class="container text-center">
  <h1 id="greeting">Welcome to the Task Manager</h1>
  <a href="/tasks">
     <button type='button' class='btn btn-default'>Task Index</button>
  </a>

  <a href="/tasks/new">
    <button id="new_task" type='button' class='btn btn-success'>New Task</button>
  </a>

</div>
